@import url(./button.css);

.banner-text {
  padding: 8rem 0;
  position: relative;
}
.banner-text .banner-text__content {
}

.banner-text .banner-text__content h2 {
  color: var(--white);
  font-weight: 600;
  font-size: 3.6rem;
}

.banner-text .banner-text__content p {
  padding: 2rem 0;
  color: var(--color-text-thrid);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .banner-text .banner-text__content {
    padding-right: 22rem;
  }
  .banner-text .banner-text__content h2 {
    color: var(--white);
    font-weight: 600;
    font-size: 4.5rem;
  }
}
