.about-us-2 {
  padding: 4rem 0;
}

.about-us-2 .about-us-2__text {
}

.about-us-2 .about-us-2__text > h2 + p {
  padding: 2rem 0px 1.5rem;
}

.about-us-2 .about-us-2__text > h2 + p + p {
  padding-bottom: 3rem;
}

.about-us-2 .about-us-2__text .note .note-item {
  margin-left: -15px;
}

@media only screen and (min-width: 768px) {
  .about-us-2 .about-us-2__text .note .note-item .note-item__title > h4 {
    font-size: 1.7rem;
  }

  .about-us-2 .about-us-2__text .note .note-item .note-item__title > p {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .about-us-2 .about-us-2__text .note .note-item .note-item__title > h4 {
    font-size: 2rem;
  }
}

.about-us-2 .about-us-2__img {
}

.about-us-2 .about-us-2__img .content {
  position: relative;
  z-index: -2;
  padding: 4rem 3rem 10rem 3rem;
  background-color: var(--color-global-background);
}

@media only screen and (min-width: 768px) {
  .about-us-2 .about-us-2__img {
    position: relative;
    margin-bottom: 22rem;
  }

  .about-us-2 .about-us-2__img .content {
    position: absolute;
    bottom: -40%;
    right: 0;
    z-index: 1;

    width: 65%;
  }
}

@media only screen and (min-width: 992px) {
  .about-us-2 .about-us-2__img {
    position: relative;
    margin-bottom: 15rem;
  }

  .about-us-2 .about-us-2__img .content {
    bottom: -20%;
    width: 70%;
  }
}

@media only screen and (min-width: 992px) {
  .about-us-2 .about-us-2__img {
    height: 45rem;
  }
  .about-us-2 .about-us-2__img .img img {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-us-2 .about-us-2__img .content {
    bottom: -20%;
    right: auto;
    left: -1.5rem;

    width: 80%;
  }
}

.about-us-2 .about-us-2__img .content > p {
  color: var(--color-global-small-title);
  font-weight: 600;
}

.about-us-2 .about-us-2__img .content .contruction-owner {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.about-us-2 .about-us-2__img .content .contruction-owner img {
  width: 62px;
  height: 62px;
  margin-right: 1.5rem;
}

.about-us-2 .about-us-2__img .content .contruction-owner > div {
}

.about-us-2 .about-us-2__img .content .contruction-owner > div h4 {
  font-size: 1.6rem;
  color: var(--color-global-title);
  margin-bottom: 5px;
}

.about-us-2 .about-us-2__img .content .contruction-owner > div span {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: var(--color-global-accent);
}

.about-us-2 .about-us-2__img .content .video-starts {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
}

.about-us-2 .about-us-2__img .content .play-video {
  display: inline-block;
}

.about-us-2 .about-us-2__img .content .starts {
  position: absolute;
  top: 0;
  right: 3.5rem;
}

.about-us-2 .about-us-2__img .content .starts > * {
  font-size: 2rem;
  color: #f0ad4e;
}
