.title-accent {
  font-size: 2.4rem;
  line-height: 3.4rem;
  text-transform: capitalize;
  color: var(--color-global-title);
  font-weight: 600;
  padding-bottom: 10px;
  position: relative;
}

.title-accent::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16rem;
  height: 4px;
  background-color: var(--color-global-accent);
}

.title-accent--primary {
  color: var(--white);
}

.sub-title-accent {
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-global-accent);
  font-weight: 600;
  margin-bottom: 8px;
  position: relative;
}

.text-accent {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--color-text-first);
}

.text-accent--heading {
  color: var(--white);
}

.title-primary {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-global-title);
}

@media only screen and (min-width: 768px) {
  .title-accent {
    font-size: 2.7rem;
  }

  .sub-title-accent {
    font-size: 1.6rem;
  }

  .text-accent {
    font-size: 1.5rem;
  }

  .title-primary {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 992px) {
  .title-accent {
    font-size: 3.4rem;
    line-height: 4.4rem;
  }
  .title-accent::after {
    width: 18rem;
  }
  .sub-title-accent {
    font-size: 1.6rem;
  }

  .text-accent {
    font-size: 1.5rem;
  }

  .title-primary {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .title-accent {
    font-size: 4.6rem;
    line-height: 6.4rem;
  }

  .title-accent::after {
    width: 24rem;
  }
}
